@font-face {
    font-family: DINNextLTArabic-Regular;
    font-style: normal;
    font-weight: 400;
    src: url(dinnextltarabicregular.woff) format("woff2"), url(dinnextltarabicregular.woff) format("woff"), url(dinnextltarabicregular.ttf) format("truetype")
}

@font-face {
    font-family: DINNextLTW23-Medium;
    font-style: normal;
    font-weight: 400;
    src: url(dinnextlt23medium.woff) format("woff"), url(dinnextltw23medium.eot) format("eot"), url(dinnextltw23medium.ttf) format("truetype")
}

@font-face {
    font-family: DINNextLTArabic-Bold;
    font-style: normal;
    font-weight: 400;
    src: url(dinnextltarabicbold.woff) format("woff2"), url(dinnextltarabicbold.woff) format("woff"), url(dinnextltarabicbold.ttf) format("truetype")
}

:root {
    --font-size-normal: 14px;
    --font-size-medium: 15px;
    --font-size-medium2: 1.1rem;
    --font-size-large: 2rem;
    --font-line-height: 1.5384616
}

body.font-dinnextltarabic-regular.salla-theme_1 .section-header .btn.btn-primary.btn-rounded,
body.font-dinnextltarabic-regular.salla-theme_2 .section-header .btn.btn-primary.btn-rounded {
    line-height: 30px
}

body.font-dinnextltarabic-regular.salla-theme_1 .section-header .section-actions .circle-action,
body.font-dinnextltarabic-regular.salla-theme_2 .section-header .section-actions .circle-action {
    line-height: 28px
}

body.font-dinnextltarabic-regular.salla-theme_1 .section-header .section-actions .circle-action.button-more,
body.font-dinnextltarabic-regular.salla-theme_2 .section-header .section-actions .circle-action.button-more {
    font-size: 14px;
    line-height: 33px
}

body.font-dinnextltarabic-regular.salla-theme_3 .show-more .btn.btn-rounded,
body.font-dinnextltarabic-regular.salla-theme_5 .show-more .btn.btn-rounded {
    line-height: 30px
}

body.font-dinnextltarabic-regular .button-more {
    line-height: 32px!important
}

body.font-dinnextltarabic-regular .cart-fav .add_to_cart_large_btn {
    line-height: 15px
}

@media only screen and (max-width:767px) {
    body.font-dinnextltarabic-regular .cart-fav .add_to_cart_large_btn {
        line-height: 23px
    }
}

body.font-dinnextltarabic-regular .cart-fav .not-available-large {
    line-height: 15px
}

@media only screen and (max-width:767px) {
    body.font-dinnextltarabic-regular .cart-fav .not-available-large {
        line-height: 30px
    }
}

body.font-dinnextltarabic-regular.salla-theme_6 .add_to_cart_large_btn {
    line-height: 12px
}

@media only screen and (max-width:767px) {
    body.font-dinnextltarabic-regular.salla-theme_6 .add_to_cart_large_btn {
        line-height: 17px
    }
}

@media only screen and (max-width:992px) {
    body.font-dinnextltarabic-regular .section-actions .circle-action,
    body.font-dinnextltarabic-regular .section-actions .circle-action.button-more,
    body.font-dinnextltarabic-regular .section-actions .section-header .btn.btn-rounded {
        line-height: 24px!important
    }
}

body.font-dinnextltarabic-regular .section-actions .product>a .promotion-title {
    padding: 3px 8px 8px
}

@media only screen and (max-width:767px) {
    body.font-dinnextltarabic-regular .section-actions .product>a .promotion-title {
        padding: 3px 8px 6px
    }
}

body.font-dinnextltarabic-regular .section-actions.product-show .promotion-title.detail {
    padding: 0 8px 5px
}

body.font-dinnextltarabic-regular .section-actions #pickup-branches .option-cont input[type=radio]:checked+label .branch-detail .cont>div.bd-contact ul li a,
body.font-dinnextltarabic-regular .section-actions #pickup-branches .option-cont input[type=radio]:not(:checked)+label .branch-detail .cont>div.bd-contact ul li a {
    padding: 2px 10px 1px
}

body.font-dinnextltarabic-regular .section-actions #sort #sort-toggle.btn.btn-primary {
    padding: 4px 16px 9px
}

body.font-dinnextltarabic-regular .section-actions #one-click .intl-tel-input .country-list li.country {
    padding: 1px 10px 8px
}

@media only screen and (max-width:500px) {
    body.font-dinnextltarabic-regular .section-actions .sub-nav .main-menu li a {
        padding: .4rem 0 .6rem
    }
}

body.font-dinnextltarabic-regular .section-actions .sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories>li a {
    padding: .4rem 1rem .6rem
}

body.font-dinnextltarabic-regular .section-actions .sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories>li ul li a {
    padding: .2rem 1rem
}

body.font-dinnextltarabic-regular .section-actions .sub-nav .main-menu li#ls_switcher_mobile a {
    padding: .4rem 1rem .1rem
}

body.font-dinnextltarabic-regular .section-actions .sub-nav .main-menu li#ls_switcher_mobile ul li .btn {
    padding: 5px 10px 10px
}

body.font-dinnextltarabic-regular #cl_switcher #cl_toggle {
    padding-bottom: 10px
}

body.font-dinnextltarabic-regular #load_more {
    padding-bottom: 7px;
    padding-top: 3px
}

body.font-dinnextltarabic-regular .sub-nav .main-menu>li.sub-menu-header {
    font-family: inherit
}